# Instagram App Credentials
# Get these from your Meta Developer Dashboard
# IMPORTANT: The App Secret is a secret and should not be committed to your repository.
NEXT_PUBLIC_INSTAGRAM_APP_ID=1076814757111103
INSTAGRAM_APP_SECRET=e308f9fe2247334799415e45321e28d9

# This must match the "Valid OAuth Redirect URIs" in your Meta App settings.
NEXT_PUBLIC_REDIRECT_URI=http://localhost:9002/auth/instagram/callback
